<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Dịch Vụ - Hanoi Library</title>
</head>
<body class="font-josefin-sans">
<div layout:fragment="content">
    <div th:style="|background-image: url('https://res.cloudinary.com/dlqpdl4mz/image/upload/v1742976435/Welcome_ttwk9d.png');|"
         class="bg-cover h-[280px] flex justify-center items-center mb-3">
          <span class="text-white font-bold text-5xl">
              DỊCH VỤ
          </span>
    </div>

    <div class="pt-5">
        <div class="grid grid-cols-3 gap-y-6">
            <div th:each="service, iterStat : ${services}"
                 th:classappend="${(iterStat.index % 3 == 0 ? ' pl-0' : ' pl-5') + (iterStat.index % 3 == 2 ? ' pr-0' : ' pr-5')}"
                 class="flex flex-col transition-transform transform hover:scale-102">
                <a th:href="@{${service.link}}">
                    <img th:src="@{${service.src}}"
                         th:alt="${service.text}"
                         class="w-full h-44 object-cover rounded-lg" />
                </a>
                <p class="text-green-800 font-bold mt-2 text-center"
                   th:text="${service.text}">
                    Service Name
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
