<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Giới thiệu - Hanoi Library</title>
</head>
<body>
<div layout:fragment="content">
    <div th:style="|background-image: url('https://res.cloudinary.com/dlqpdl4mz/image/upload/v1742976435/Welcome_ttwk9d.png');|"
         class="bg-cover h-[280px] flex justify-center items-center mb-5">
      <span class="text-white font-bold text-5xl">
        WELCOME TO HANOI LIBRARY
      </span>
    </div>

    <div class="flex pt-5 gap-5">
        <div class="flex flex-col w-3/4">
            <h1 class="text-[#427B49] font-bold text-3xl">
                GIỚI THIỆU THƯ VIỆN HÀ NỘI
            </h1>
            <p class="text-xl font-light pt-5">
                Thư viện được xây dựng năm 2005. Trong quá trình hoạt động, trung tâm đã không ngừng nâng cấp cơ sở vật chất kỹ thuật, đổi mới hoàn thiện tổ chức và hoạt động, từng bước ứng dụng công nghệ thông tin vào hoạt động nghiệp vụ.
            </p>
            <p class="text-xl font-light">
                Thư viện có chức năng phục vụ hoạt động giảng dạy, học tập, đào tạo, nghiên cứu khoa học, triển khai ứng dụng tiến bộ khoa học công nghệ và quản lý thông qua việc sử dụng, khai thác các loại tài liệu có trong thư viện.
            </p>
            <div class="pt-5">
                <button th:onclick="|window.location.href='@{/auth/login}'|"
                   class="border-2 border-[#427B49] bg-white text-[#427B49] text-lg w-30 h-11 rounded cursor-pointer">
                    Bắt đầu
                </button>
            </div>
        </div>
        <div class="pt-6">
            <img th:src="'https://res.cloudinary.com/dlqpdl4mz/image/upload/v1742976427/about_y1f8m5.png'" alt="Giới thiệu thư viện" class="object-contain w-full"/>
        </div>
    </div>
</div>
</body>
</html>
